/* Styles shared between all pages on the site */
/* PALETTE:
https://coolors.co/076b82-6fb3c3-ff8133-ffe4d6-fff2eb-fafafa-212529
Cerulean  - #076b82
Moonstone - #6fb3c3

Pumpkin   - #ff8133
Champagne - #ffe4d6
Seashell  - $fff2eb

Seasalt   - #fafafa
Black     - #212529
*/

/* Text */
h1,
h2,
h3,
h4,
nav ul,
button {
  font-family: "Montserrat", sans-serif;
}

p,
dl,
ul,
label {
  font-family: "Hind", sans-serif;
}

h1 {
  font-size: 32pt;
}

h1,
header a {
  color: #076b82;
  font-weight: bold;
}

h2,
h3 {
  color: #ff8133;
}

p,
h4,
dl,
ul,
label {
  color: #212529;
}

/* Flex */
header,
#title > a,
nav ul,
footer {
  display: flex;
}

header,
#title > a {
  align-items: center;
}

/* Header */
header {
  justify-content: space-between;
  border-bottom: 1px solid #076b82;
  padding-bottom: 15px;
  flex-wrap: wrap;
}

#title > a {
  justify-content: flex-start;
  gap: 15px;
}

#logo {
  width: 64px;
  height: 64px;
}

a:link {
  text-decoration: none;
}

nav {
  font-size: 18pt;
}

nav ul {
  gap: 25px;
  padding: 0px;
}

/* General */
body {
  background-color: #fafafa;
  padding: 15px;
}

.icon {
  width: 32px;
  height: 32px;
}

.small-icon {
  width: 16px;
}

img {
  object-fit: contain;
}

main {
  margin-top: 20px;
  margin-bottom: 20px;
}

li {
  list-style-type: none;
}

button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
}

/* The default margins on text elements is annoying */
header *,
footer * {
  margin: 0px;
}

/* Footer */
footer {
  flex-direction: column;
  gap: 10px;
}

footer dd {
  padding-left: 20px;
}

#cart-btn {
  padding: 25px;
  margin-right: 15px;
  border-radius: 50px;
  position: sticky;
  bottom: 50px;
  float: right;
  background-color: #076b82;
  /* Color | Width | Style */
  border: #fafafa 5px solid;
}
