/* Color palette: */
/* https://coolors.co/fefae0-dda15e-606c38 */

/* General Styling */
body {
  background-color: #fefae0;
  margin: 20px;
}

main {
  margin: 10px;
  max-width: 1000px;
}

h1,
h2,
nav li {
  color: #606c38;
  font-family: "Chewy", "Comic Sans MS", "Comic Sans", cursive;
  text-transform: uppercase;
}

p {
  font-family: "Lato", "Consolas", sans-serif;
  font-size: large;
}

h1 {
  font-size: 76px;
  margin: 0px;
}

h2 {
  font-size: x-large;
}

img {
  border-radius: 25px;
  border-style: dashed;
  border-color: #606c38;
  border-width: 5px;
  height: auto;
}

/* Centered content */
main,
.flex-row,
nav ul {
  margin-left: auto;
  margin-right: auto;
}

/* Centered text */
nav li,
footer,
h1 {
  text-align: center;
}

/* Flex content */
.flex-row,
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-row {
  flex-wrap: wrap;
  align-items: center;

  gap: 50px;
}

.flex-row img,
.flex-row aside {
  min-width: 300px;
  width: 50px;
  flex-grow: 2;
}

.flex-row:nth-child(even) img {
  border-color: #dda15e;
}
.flex-row:nth-child(even) {
  flex-wrap: wrap-reverse;
}

/* Nav styling */
nav ul {
  width: 400px;
  background-color: #dda15e;
  border-radius: 10px;
  padding: 30px;
}

nav li {
  display: inline;
  list-style-type: none;
  font-size: 36px;
}

/* Footer */
footer > p {
  font-size: medium;
}

/* Links */

a:visited {
  color: #864a96;
}

a:link {
  color: #42858c;
}

a:hover,
nav a:hover {
  color: #dda15e;
}

nav a,
nav a:link,
nav a:visited {
  color: #fefae0;
  text-decoration: none;
}

a:active,
nav a:active,
nav a:hover {
  color: #bd6d25;
}
